@model GoingOnce.Models.ItemCatalogModel
@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<div style="display:inline;">
    <img src="~/Images/ccs.png" style="opacity:0.75; max-height:75px;" />
</div>
<h1>@Model.AuctionEvent.EventName Item Catalog - @Model.AuctionEvent.EventDate.ToString("yyyy/MM/dd")</h1>
@foreach (var item in Model.AuctionItems)
{
    <table class="table pdf-table table-striped datatTable-CompanyQuestionOverview" style="border-top:solid; border-bottom:solid; border-color:darkgrey; border-width:thick;">
        <tbody>
            <tr>
                <td>@Html.LabelFor(model => model.AuctionItems[0].ItemNumber): @item.ItemNumber</td>
                <td>@Html.LabelFor(model => model.AuctionItems[0].AuctionType): @item.AuctionType</td>
                <td>
                    @Html.LabelFor(model => model.AuctionItems[0].ItemValue): @if (item.ItemValue == 0)
                    {
                        @Html.Raw("Priceless")
                    }
                    else
                    {
                        @item.ItemValue
                    }
                </td>
            </tr>
            <tr>
                <td colspan="3">@Html.LabelFor(model => model.AuctionItems[0].ItemName): @item.ItemName</td>
            </tr>
            <tr>
                <td colspan="3">@Html.LabelFor(model => model.AuctionItems[0].ItemDescription): @item.ItemDescription</td>
            </tr>
        </tbody>
    </table>
    <span style="min-height:50px;"></span>
}